extends ../layout

block body
  form(action='/session/create', method='post', enctype='multipart/form-data')
    | email
    input(type='email', name='email')
    br
    | password
    input(type='password', name='password')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='submit', value='Войти')