extends ../layout

block scripts
  script(src="http://code.jquery.com/jquery-1.9.1.js")
  script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
  script(src="/js/snap.js", type="text/javascript")

block body
  link(rel="stylesheet", href="/styles/snap.css", type="text/css")


  


  each item in posts
    div.post-item
    h4= item.title
    p!= item.body
    if item.tags
      ul
        each tag in item.tags
          li.draggable= tag.name
    a(href="/posts/edit/" + item.id) изменить
    br
    a(href="/posts/delete/" + item.id) удалить
  
