extends ../admin_layout

block scripts
  script(src="http://code.jquery.com/jquery-1.9.1.js")
  script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
  script(src="/js/snap.js", type="text/javascript")

block body
  link(rel="stylesheet", href="/styles/snap.css", type="text/css")
  a.btn.btn-success(href='/post/new') Новый пост
  .col-md-8.col-md-offset-2
    table.table.table-striped
      tr
        th Заголовок
        th Превью
        th Тэги
        th
      each item in posts
        tr.post-item
          td
            h4= item.title
          td
            p!= item.preview
          td
            if item.tags
              ul
                each tag in item.tags
                  li.draggable= tag.name
          td
            a.btn.btn-warning(href="/posts/edit/" + item.id) изменить
            a.btn.btn-danger(href="/posts/delete/" + item.id) удалить
