extends ../general_layout
block styles
  link(rel='stylesheet', href='/styles/first.css')
block body
  a(href='/post', title='Welcome')
    img(width='193', height='77', src='/images/buttonok.png')
  p#slog Hi Story of Cinema
