extends ../admin_layout

block body
  .col-md-8.col-md-offset-2
    table.table.table-striped
      tr
        th Тэг
        th Slug
        th
      each tag in tags
        tr
          td= tag.name
          td= tag.slug
          td
            a.btn.btn-danger(href='/tag/destroy/'+tag.id) Удалить
