doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles
    link(rel="stylesheet", href="/styles/tags.css", type="text/css")


    // A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")

    script(type="text/javascript", src="/ckeditor/ckeditor.js")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")

    script(type="text/javascript", src="/js/x.js")

    block scripts

  body
    .quiz(scroll="no")
        button.closeq
        #answer
          .way 0
          .result 0
        #what
    .main
      .search(scroll="no")
        //- input(type='search',  name='q', id='q', placeholder='Я ищу...', autofocus, autocomplete='off')
        input(type='text',  name='q', id='q', placeholder='Я ищу...', autofocus, autocomplete='off')
        button.close
      block randomimage
        //- image( src="images/title_images/" +Math.floor(Math.random()*(4-1+1)+1) + ".png")
        .logo
          a(href='/post', title='Home')
            img(width='100', height='100', src='/images/logo1.png')
          //
            logo
        //
          header
      .clear
      .menu
        ul
          li
            b
              a(href='#', title='Поиск', class="open", id="poisk") Поиск
          li
            b
              a(href='#', title='Игра', class="ogame", id="game") Игра
          li
            a(href='#', title='2010') 2010-е
          li
            a(href='http://localhost:1337/age/2', title='2000') 2000-е
          li
            a(href='#', title='1990') 1990-е
          li
            a(href='#', title='1980') 1980-е
          li
            a(href='#', title='1970') 1970-е
          li
            a(href='#', title='1960') 1960-е
          li
            a(href='#', title='1950') 1950-е
          li
            a(href='#', title='1940') 1940-е
          li
            a(href='#', title='1930') 1930-е
          li
            a(href='#', title='1920') 1920-е
          li
            a(href='http://localhost:1337/age/3', title='1910') 1910-е
          li
            a(href='http://localhost:1337/age/1', title='1900') 1900-е
          .social
            li
              a(href='http://vk.com/', title='Вконтакте')
                img(src="/images/v.png")
            li
              a(href='https://twitter.com/', title='Twitter')
                img(src="/images/t.png")
            li
              a(href='https://www.facebook.com/', title='Facebook')
                img(src="/images/f.png")
          //
            so

      //
        menu
      .clear

      block body
