extends ../layout
block styles
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
block body
  link(rel='stylesheet', href='/styles/admin.css')
  #edit_article
    #io
        a(href='/posts/') Редактирование
      //
        oi
    #create_article
      #lo
        a(href='/posts/new') Новая статья
      //
        lo
    #preview_article
      #po
        a(href='/post/') Просмотр
      //
        po