form(action='/user/create', method='post', enctype='multipart/form-data')
  | Имя
  input(type='text', name='name')
  hr
  | email
  input(type='email', name='email')
  input(type='password', name='password')
  input(type='password', name='confirmation')
  input(type='hidden', name='_csrf', value='value')
  input(type='submit' value="save")