extends ../general_layout

block randomimage
  #randomimage( style="background-image:url(../images/title_images/" +Math.floor(Math.random()*(6-1+1)+1) + ".png);" )
    .logo
        a(href='/post', title='Home')
          img(width='100', height='100', src='/images/logo1.png')

block styles
  link(rel='stylesheet', href='/styles/load.css')
  link(rel="stylesheet", href="/styles/posts2.css", type="text/css")

block scripts

  script(type="text/javascript", src="/jquery.inview-master/jquery.inview.js")
  script(src="http://code.jquery.com/jquery-1.9.1.js")
  script(src="/js/search.js", type="text/javascript")
  script(src="/js/quiz.js", type="text/javascript")
  script(src="/js/show_search.js", type="text/javascript")
  script(src="/js/quote_load.js", type="text/javascript")
  script(src="/js/show_game.js", type="text/javascript")

block body
  .quiz(scroll="no")
      button.closeq
      #answer
        .way 0
        .result 0
      #what
  .main
    //- .search(scroll="no")
    //-   //- input(type='search',  name='q', id='q', placeholder='Я ищу...', autofocus, autocomplete='off')
    //-   input(type='text',  name='q', id='q', placeholder='Я ищу...', autofocus, autocomplete='off')
    //-   button.close
    block randomimage
      //- image( src="images/title_images/" +Math.floor(Math.random()*(4-1+1)+1) + ".png")
      .logo
        a(href='/post', title='Home')
          img(width='100', height='100', src='/images/logo1.png')
        //
          logo
      //
        header
    .clear
    .menu2
      ul
        .time_social
          li
            a(href='http://vk.com/', title='Вконтакте', class="time")
              img(src="/images/v.png")
          li
            a(href='https://twitter.com/', title='Twitter', class="time")
              img(src="/images/t.png")
          li
            a(href='https://www.facebook.com/', title='Facebook', class="time")
              img(src="/images/f.png")
          li
            b
              a(href='#', title='Игра', id="game", class="time ogame") Игра
            //
              so

        //
          menu
    .clear
    //- #before
    //- #loadpage Загрузка
    .popall
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/1890(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/1', title='1890', class="lazy first_date")
          img(class="lazy", data-original="/images/time/one2.png", width='107', height='107', src="/images/white_100.gif")
        img( style='border:none', width='1024', height='300', class="lazy", data-original='/images/time/one1.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1900", data-original='/images/timeline_img/1900(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/2', title='1900', class="lazy second_date")
          img(class="lazy", data-original="/images/time/two2.png", width='107', height='107', src="/images/white_100.gif")
        img(style='border:none', width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/1910(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/3', title='1910', class="lazy second_date")
          img(class="lazy", data-original="/images/time/three2.png", width='107', height='107', src="/images/white_100.gif")
        img( border='0', width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1900", data-original='/images/timeline_img/1920(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/4', title='1920', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1920.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/1930(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/5', title='1930', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1930.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1900", data-original='/images/timeline_img/1940(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/6', title='1940', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1940.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/1950(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/7', title='1950', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1950.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1900", data-original='/images/timeline_img/1960(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/8', title='1960', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1960.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/1970(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/9', title='1970', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1970.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1900", data-original='/images/timeline_img/1980(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/10', title='1980', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1980.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/1990(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/11', title='1990', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o1990.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1900", data-original='/images/timeline_img/2000(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/12', title='2000', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o2000.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
      .pop
        img(width='245', height='185', class="lazy plot1890", data-original='/images/timeline_img/2010(2).png', src="/images/white_img.gif")
        a(href='http://cinema-project.herokuapp.com/age/13', title='2010', class="lazy second_date")
          img(class="lazy", data-original="/images/time/o2010.png", width='107', height='107', src="/images/white_100.gif")
        img(width='1024', height='300', class="lazy", data-original='/images/time/strips.png', src="/images/white.gif")
    .clear
    .footer
      ul
        li
          a(href='#') Создатели
        li
          a(href='#') О нас
        li
          a(href='#') Кино


    script(src='/js/jquery.lazyload.js', type='text/javascript')
    script(src='/js/lazy_mine.js', type='text/javascript')



