#edit_article{float:left; height:100px; width:300px; background-color:#0CF; border-radius:20px; text-align:center;}
#io {margin-top:40px;}
#create_article{float:left; height:100px; margin-top:30px; width:300px; background-color: #0F6; border-radius:20px; text-align:center;}
#lo{margin-top:40px;}
#preview_article{float:left; height:100px; width:300px; background-color:#0CF; border-radius:20px; text-align:center;}
#po{margin-top:40px;}